//
// Layout
//

.error-container {
  display: flex;
  flex-direction: row;

  &.panel-container {
    border: none;
  }

  hr {
    width: 100%;
  }
}

.error-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.error-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.error-space-between {
  justify-content: space-between;
}

.error-justify-center {
  justify-content: center;
}

.error-text {
  margin: 4% 0;

  > div:first-child {
    margin-right: 20px;

    img {
      max-width: 100%;
    }
  }
}

.graph-box {
  width: 62%;
  padding: $space-xl $space-md;
}

.info-box {
  width: 38%;
  padding: $space-xl $space-md;
}

.graph-percentage {
  padding: 0 0 18px;
}

.image-box {
  padding: $space-sm;
}

.left-margin {
  padding: 0 0 0 64px;
}

.current-box {
  justify-content: flex-end;
}

.error-full-width {
  width: 100%;
}

//
// Text
//

.current-text {
  color: $blue;
  font-weight: bold;
  line-height: 14px;
}

.error-link {
  color: $orange;
}

.error-button {
  border: 1px solid $white;
  color: $white;
  background: none;
  padding: 12px 23px;
  text-transform: capitalize;

  & + & {
    margin-left: 20px;
  }

  &:hover,
  &:focus {
    background: $orange;
    border: 1px solid $orange;
  }
}

.error-minus {
  color: #7eb26d;
  padding: 0 $space-sm;
  line-height: 21px;
}

.graph-percentage p {
  text-align: right;
  margin: 0;
  line-height: 14px;
}

.graph-text {
  margin: 0;
}

.text-center {
  text-align: center;
}

.error-404 {
  font-size: calc(115px + (230 - 115) * ((100vw - 320px) / (1600 - 320)));
}

@include media-breakpoint-down(sm) {
  .graph-box {
    width: 50%;
  }

  .info-box {
    width: 50%;
  }
}

@include media-breakpoint-down(xs) {
  .error-container {
    flex-direction: column;
  }

  .graph-box {
    width: 100%;
  }

  .info-box {
    width: 100%;
  }

  .error-text {
    flex-direction: column;
    align-items: center;

    > div:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
